@{
    Layout = "~/_SiteLayout.cshtml";
    var userName = WebSecurity.CurrentUserName;
    var db = Database.Open("StarterSite");
    if (UrlData.Count != 1)
    {
        Response.Redirect("~/Default.cshtml");
    }
    var fishId = UrlData.ElementAt(0);
    int userId = -1;
    var selectAFishQuery = "";
    if (WebSecurity.IsAuthenticated)
    {
        //store the userId to prevent multiple queries being run unnecessarily.
        userId = db.Query("SELECT userId from UserProfile where Email = '" + userName + "'").ElementAt(0).UserId;
        selectAFishQuery = "SELECT fish.fishId, fish.fishName, fish.fishLevel, fish.fishDescription, fish.fishPatch, fish.fishEorzeaDBLink, " +
            "location.locationName, location.locationId, map.mapName, map.mapId, user_fish_junction.caught " +
            "FROM fish INNER JOIN location_fish_junction ON fish.fishId = location_fish_junction.fishId INNER JOIN location ON " +
            "location.locationId = location_fish_junction.locationId INNER JOIN map ON location.mapId = map.mapId INNER JOIN " +
            "user_fish_junction ON fish.fishId = user_fish_junction.fishId " +
            "WHERE user_fish_junction.userId= '" + userId + "' and fish.fishId = " + fishId;
    } else
    {
        selectAFishQuery = "SELECT fish.fishId, fish.fishName, fish.fishLevel, fish.fishDescription, fish.fishPatch, fish.fishEorzeaDBLink, " +
            "location.locationName, location.locationId, map.mapName, map.mapId " +
            "FROM fish INNER JOIN location_fish_junction ON fish.fishId = location_fish_junction.fishId INNER JOIN location ON " +
            "location.locationId = location_fish_junction.locationId INNER JOIN map ON location.mapId = map.mapId " +
            "WHERE fish.fishId = " + fishId;
    }

    Console.Write(selectAFishQuery);
    var dbResults = db.Query(selectAFishQuery);
    var fish = dbResults.ElementAt(0);
    Page.Title = fish.fishName;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="title">
                <div class="float-left">
                    <h1>Fish: <a href="@Request.RawUrl">@Page.Title</a>.</h1>
                    <h2>Lv. @fish.fishLevel</h2>
                </div>
                @if (WebSecurity.IsAuthenticated)
                {
                    if (fish.caught)
                    {
                        <div class="float-right"><h2>Caught</h2></div>
                    } else
                    {
                        <div class="float-right"><h2>Not Caught</h2></div>
                    }
                }
            </div>
            <div class="body">
                <p>@fish.fishDescription</p>
            </div>
        </div>
    </section>
}
<article>
    <p>Caught in the following locations:</p>
    <table id="locationTable">
        <thead>
            <tr>
                <th>Locaton</th>
                <th>Map</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in dbResults)
            {
                <tr class="locationRow" id="@row.locationId">
                    <td class="locationName"><a href="~/Locations/@row.locationId">@row.locationName</a></td>
                    <td class="mapName"><a href="~/Maps/@row.mapId">@row.mapName</a></td>
                </tr>
            }
        </tbody>
    </table>
</article>
<aside>
    <p>Added in patch @fish.fishPatch</p>
    <p>Eorzea DB: <a href="@dbResults.ElementAt(0).fishEorzeaDBLink" class="eorzeadb_link">link</a></p>
</aside>
<script>
    $(document).ready(function() {
        $('#locationTable').DataTable();
    });
</script>